<link rel="stylesheet" href="assets/css/input-spinner.css">
<link rel="stylesheet" href="assets/css/animation.css">

<link rel="stylesheet" href="assets/css/modal.css">

<link rel="stylesheet" href="app/panel/panel.css">
<link rel="stylesheet" href="app/panel/panel.controls.css">
<link rel="stylesheet" href="app/panel/panel.form.css">

<div class="panel-container">
    <header class="panel-header color-header no-select" ng-cloak>

        <em>Collection</em>

        <em>Speed</em>
        
        <em>Effect</em>

        <em> 
            Go Live
            <button class="btn-reset" ng-click="reset()">R</button>
        </em>

        <div class="panel-collection color-secondary">
            <select 
                ng-options="coll as coll.title for coll in collections track by coll.title" 
                ng-model="collection"
                ng-change="update()"
            >
            </select>
        </div>

        <div class="input-spinner color-secondary">
            <span ng-click="speed('-')" >-</span>
            <input type="text" ng-model="collection.effect.speed">
            <span ng-click="speed('+')">+</span>
        </div>
        
        <div class="input-spinner color-secondary">
            <span ng-click="effectType('-')">-</span>
            <input type="text" ng-model="collection.effect.type" disabled>
            <span ng-click="effectType('+')">+</span>
        </div>

        <button 
            class="go-live danger {{ (collection.control.onAir) ? 'active-btn': '' }}"
            ng-click="toggleGo()"
        >GO</button>

    </header>

    <main class="panel-main" ng-cloak>

        <!--<screen></screen> -->
        <lowers ng-init="update()"></lowers>

        <section class="modal {{ (control.window) ? 'active' :'' }}" >
            <div class="modal-content color-secondary">
                <window></window>
            </div>
        </section>

    </main>

</div>